<div class='top-bar'>
  <div class='top-bar-left'>
    <ul class='dropdown menu' data-dropdown-menu>
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Events', events_path %></li>
      <li><%= link_to 'Sponsors', sponsors_path %></li>
      <li><%= link_to 'Posts (n/a)', '#' %></li>
      <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
    </ul>
  </div>
</div>