<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title><%= content_for?(:title) ? yield(:title) : 'Dublin Learning Ruby-on-Rails' %></title>
    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= favicon_link_tag 'dublin-learning-ruby-on-rails-logo' %>
    <%= csrf_meta_tags %>
  </head>
  <%= render 'header' %>
  <body>
    <div id='container'>
      <%= render partial: 'flash' %>
      <%= yield %>
    </div>
  </body>
  <%= render 'footer' %>
</html>