<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <%= favicon_link_tag 'dublin-learning-ruby-on-rails-logo' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'application' %>
    <%= render 'meta_tags' %>
  </head>
  <body id='dashboard-layout'>
    <%= render 'github_ribbon' %>
    <%= render 'flash' %>
    <%= render 'header' %>
    <div id='container'>
      <%= render 'menu' %>
      <%= yield %>
    </div>
    <%= render 'footer' %>
  </body>
</html>